<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <properties>
        <property name="filters">org.junit,org.apache.maven,sun.reflect,java.lang.reflect,org.springframework.beans.factory.support</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}:%4p %m%n{%xEx{filters(${filters})}%n}" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.es.test" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>